body {

  background-color: white;

}

.photo {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
 
}

#text-drop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size:100px;
  font-family: arial;
  font-weight: 900;
}

.p {
  opacity:0;
  animation: drop .4s linear forwards;
  color: #9b5de5;
}

.o {
  opacity:0;
  animation: drop .4s linear forwards .2s;
  color: lightgoldenrodyellow;
}

.s {
  opacity:0;
  animation: drop .4s linear forwards .4s;
  color: powderblue;
}

.t {
  opacity:0;
  animation: drop .4s linear forwards .6s;
  color: yellowgreen;
}

.c {
  opacity:0;
  animation: drop .4s linear forwards .8s;
  color: lightpink;
}
.a {
  opacity:0;
  animation: drop .4s linear forwards 1s;
  color: mediumblue;
}
.r {
  opacity:0;
  animation: drop .4s linear forwards 1.2s;
  color: orangered;
}
.d {
  opacity:0;
  animation: drop .4s linear forwards 1.4s;
  color: springgreen;
}

.s2 {
  opacity:0;
  animation: drop .4s linear forwards 1.6s;
  color: hotpink;
}

@keyframes drop {
  0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
  5% {opacity: .7;}
  50% {transform: translateY(0px) scaleY(1); opacity: 1;}
  65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
  75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
  100% {transform: translateY(0px) scaleY(1); opacity: 1;}

}


.postcard {

  perspective: 100%;
}

.postcard .front,
.postcard .back {
  position: absolute;
  top: auto;
  left: 500px;
  width: 50%;
  height: 50%;
  backface-visibility: hidden;
  transition: transform 0.8s ease-in-out;
}

.postcard .back {
  transform: rotateY(-180deg);
}

.postcard:hover .front {
  transform: rotateY(180deg);
}

.postcard:hover .back {
  transform: rotateY(0deg);
}

.postcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
video {
  width:100vw;
  display: block;
  margin-top: 0px; /* add margin-top */
  margin-bottom: 500px; /* add margin-bottom */
  margin-left: auto;
  margin-right: auto;
}



.image-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* Four columns */
   grid-gap: 20px; /* Gap between images */
}

.image-grid img {
   width: 100%;
   height: auto;
   transition: all 0.5s ease; /* Add transition effect */
}

.image-grid img:hover {
   transform: scale(1.1); /* Scale up the image */
}

.image-grid img:nth-child(odd):hover {
   content: url(postcard1.jpg); /* Change the image on hover */
}

.image-grid img:nth-child(even):hover {
   content: url(postcardpicture.jpg); /* Change the image on hover */
}


/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  margin-left: 500px;
  margin-bottom: 500px;
  margin-top: 500px;
  width: 100vh;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #orange;
  box-shadow: 0 0 4px #999;
  outline: none;
}


.portal {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
}

.portal-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.portal:hover .portal-inner {
  transform: rotateY(180deg);
}

.portal-front,
.portal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(dog.jpg);
  background-size: cover;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
}

.portal-back {
  transform: rotateY(180deg);
}

.portal-back img {
  transform: rotateY(180deg);
  position: absolute;
  left: 0;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  margin-left: 500px;
  width: 100vh;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #orange;
  box-shadow: 0 0 4px #999;
  outline: none;
}

