body{
	align-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 10px;
background-image: url('watch.png');
  background-size: cover;
  background-position: center;

}

.clock{
	width: 350px;
	height: 350px;
	position: relative;
	border: 10px yellow solid;
	border-radius: 50%;
    margin-top: 484px;
	margin-left: 240px;
	margin-right: auto;
    background-color: white;
    background-image: url('watch3.png');
background-size: contain; 
    background-position: center; 
}



#hour,
#minute,
#second{
    position: absolute;
    transform-origin: bottom;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#hour {
    width: 5.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
       border-radius: 60%;
    background-color: blue;
}
  
#minute {
    width: 2.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    border-radius: 60%;
    opacity: 0.8;
background-color: seagreen;
}
  
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
    border-radius: 30%;
   background-color: red;
}